<!doctype html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Page Not Found</title>
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- TODO: replace this with something that matches your app style -->
  <h1>Page Not Found</h1>
  <p>There's no page at the address you requested. If you entered it
    by hand, check for typos. If you followed a link or a bookmark,
    it may need to be updated.</p>
  <a class="home-link" href="placeholder">Home</a>
</body>

</html>