<!doctype html>
<html>

<head>
    <title>Welcome to Twiddler</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <h1>Test h1</h1>
    </header>
    <main class="container">
        <div>
            <p>Test p</p>
            <a href='https://www.google.com/'>Test link</a>
        </div>
    </main>
    <script type='text/javascript'>
        // hi there
        document.writeln('<p>More initialization</p>');
    </script>
</body>

</html>